CruiseCode/.vs/CruiseCode/CopilotIndices/
CruiseCode/.vs/CruiseCode/FileContentIndex/
CruiseCode/.vs/CruiseCode/FileContentIndex/
CruiseCode/.vs/CruiseCode/CopilotIndices/
CruiseCode/API/bin/
CruiseCode/API/obj/
CruiseCode/Application/obj/
CruiseCode/Domain/bin/
CruiseCode/Domain/obj/
CruiseCode/Infrastructure/bin/
CruiseCode/Infrastructure/obj/
CruiseCode/Tests.API/bin/
CruiseCode/Tests.API/obj/
CruiseCode/Tests.Application/bin/
CruiseCode/Tests.Application/obj/
CruiseCode/Tests.Infrastructure/bin/
CruiseCode/Tests.Infrastructure/obj/
CruiseCode/Utlities/bin/
CruiseCode/Utlities/obj/
CruiseCode/CruiseCode/obj/
CruiseCode/Application/bin/
CruiseCode/.vs/
