SAPI/.vs/CruiseCode/CopilotIndices/
SAPI/.vs/CruiseCode/FileContentIndex/
SAPI/.vs/SAPI/FileContentIndex/
SAPI/.vs/SAPI/CopilotIndices/
SAPI/API/bin/
SAPI/API/obj/
SAPI/Application/obj/
SAPI/Domain/bin/
SAPI/Domain/obj/
SAPI/Infrastructure/bin/
SAPI/Infrastructure/obj/
SAPI/Tests.API/bin/
SAPI/Tests.API/obj/
SAPI/Tests.Application/bin/
SAPI/Tests.Application/obj/
SAPI/Tests.Infrastructure/bin/
SAPI/Tests.Infrastructure/obj/
SAPI/Utlities/bin/
SAPI/Utlities/obj/
SAPI/SAPI/obj/
SAPI/Application/bin/
SAPI/.vs/
